<template>
  <aside>
    <h2 class="title">Related By Tag</h2>
    <ul>
      <li v-for="{ title, path, frontmatter } in items" :key="path">
        <a :href="path">{{ title }}</a>
        <span v-for="layer in frontmatter.stack">
          {{ layer }}
        </span>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  props: {
    tags: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    items() {
      let currentPage = this.$page.frontmatter.title
      let taglist = this.tags
      return this.$sortedBlogPages.filter((page) => {
        if (page.frontmatter.title === currentPage) return false
        for (let layer of taglist) {
          if (page.frontmatter.stack.find((stack) => stack === layer)) {
            return true
          }
        }
      })
    },
  },
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  --pad-height: 0.2rem;
  margin-bottom: 2rem;
}
a {
  display: block;
  background-color: var(--col-base);
}
span {
  display: inline-block;
  margin: 4px 4px 0 0;
  padding: 2px;
  font-size: 80%;
  background: #fffffe;
  border: 1px solid #000;
  color: var(--col-body);
}
</style>
