<template>
  <h1>
    <a href="/">JackBennet<span>t</span></a>
  </h1>
</template>

<script>
export default {}
</script>

<style scoped>
h1 {
  margin: var(--layout-gap) 0 0;
}
span {
  color: var(--col-body);
}
a {
  font-family: arial, sans-serif;
  text-decoration: none;
  position: relative;
}
a::before {
  content: "";
  width: 6em;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: rgb(244, 93, 64);
  --stop1: 3.94em;
  --stop2: 4.06em;
  --stop3: 4.2em;
  --stop4: 4.3em;
  background: linear-gradient(
    90deg,
    rgba(244, 93, 64, 1) var(--stop1),
    rgba(9, 9, 121, 0) var(--stop1),
    rgba(64, 244, 121, 0) var(--stop2),
    rgba(244, 93, 72, 1) var(--stop2),
    rgba(244, 93, 72, 1) var(--stop3),
    rgba(244, 93, 72, 0) var(--stop3),
    rgba(244, 93, 72, 0) var(--stop4),
    rgba(244, 93, 72, 1) var(--stop4)
  );
}
</style>
