<template>
  <span
    :class="{ preview, chosen }"
    @click="select"
    @mouseover="focus"
    @mouseleave="blur"
    >{{ name }}</span
  >
</template>

<script>
export default {
  props: {
    name: String,
  },
  data() {
    return {
      active: false,
      preview: false,
      chosen: false,
    }
  },
  methods: {
    focus() {
      this.$store.commit("ADDHINT", this.name)
    },
    blur() {
      this.$store.commit("REMOVEHINT", this.name)
    },
    select() {
      this.active = !this.active
      this.active
        ? this.$store.commit("ADDSELECT", this.name)
        : this.$store.commit("REMOVESELECT", this.name)
    },
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "ADDSELECT") {
        if (mutation.payload === this.name) {
          this.chosen = true
        }
      }
      if (mutation.type === "REMOVESELECT") {
        if (mutation.payload === this.name) {
          this.chosen = false
        }
      }
      if (mutation.type === "ADDHINT") {
        if (mutation.payload === this.name) {
          this.preview = true
        }
      }
      if (mutation.type === "REMOVEHINT") {
        if (mutation.payload === this.name) {
          this.preview = false
        }
      }
    })
  },
  beforeDestroy() {
    this.unsubscribe()
  },
}
</script>

<style scoped>
span {
  display: inline-block;
  margin: 4px 6px 4px 4px;
  padding: 6px 6px 2px 2px;
  font-size: 80%;
  background: #fffffe;
  border: 1px solid #000;
  color: var(--col-body);
  cursor: pointer;
}

.preview {
  background: var(--col-secondary);
  box-shadow: 6px -6px var(--col-secondary);
}
.chosen {
  background: var(--col-primary);
}
</style>
