<template>
  <nav>
    <h1 class="title">Blog</h1>
    <ul class="writing">
      <li v-for="{ title, path, frontmatter } in $sortedBlogPages" :key="path">
        <a :href="path">{{ title }}</a>
        <template v-for="layer in frontmatter.stack">
          <NavigationItemLayer :key="layer" :name="layer" />
        </template>
      </li>
    </ul>
  </nav>
</template>

<script>
import NavigationItemLayer from "./Navigation-item-layer"
export default {
  components: {
    NavigationItemLayer,
  },
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  --pad-height: 0.2rem;
  margin-bottom: 2rem;
}
a {
  display: block;
  overflow: auto;
  padding: calc(var(--pad-height) * 2) 0;
  background: #fffffe;
}
a:hover {
  color: var(--col-body);
}
</style>
