<template>
  <div class="stack">
    <div
      class="stack-heading"
      @click="select"
      :class="{ active, chosen }"
      @mouseover="focus"
      @mouseleave="blur"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.31 24.46">
        <path
          class="top"
          :class="{ chosen }"
          fill="#22a"
          d="M.13 10.08h56.9L85.18.13h-56.9z"
          paint-order="stroke fill markers"
        />
        <path
          class="right"
          :class="{ preview }"
          fill="#a22"
          d="M57.03 10.08L85.18.13v11.88L57.03 24.32z"
          paint-order="stroke fill markers"
        />
        <path
          class="front"
          fill="#2a2"
          d="M.13 10.08h56.9v14.24H.13z"
          paint-order="stroke fill markers"
        />
        <path
          class="border"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width=".26"
          d="M28.27.13L.13 10.08h56.9v14.24H.13V10.08M85.18.13l-28.15 9.95M28.27.13h56.9v11.88L57.04 24.32"
        />
      </svg>
      <h3>{{ id }}</h3>
    </div>
    <transition name="slide-down">
      <div v-show="active" class="stack-content">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: "<StackName>",
    },
  },
  data() {
    return {
      active: false,
      preview: false,
      chosen: false,
    }
  },
  computed: {
    idkey() {
      return this.id.replace(" ", "_").toLowerCase()
    },
  },
  methods: {
    select() {
      this.active = !this.active
      this.active
        ? this.$store.commit("ADDSELECT", this.idkey)
        : this.$store.commit("REMOVESELECT", this.idkey)
    },
    focus(e) {
      this.$store.commit("ADDHINT", this.idkey)
    },
    blur() {
      this.$store.commit("REMOVEHINT", this.idkey)
    },
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "ADDSELECT") {
        if (mutation.payload === this.idkey) {
          this.chosen = true
          this.active = true
        }
      }
      if (mutation.type === "REMOVESELECT") {
        if (mutation.payload === this.idkey) {
          this.chosen = false
          this.active = false
        }
      }
      if (mutation.type === "ADDHINT") {
        if (mutation.payload === this.idkey) {
          this.preview = true
        }
      }
      if (mutation.type === "REMOVEHINT") {
        if (mutation.payload === this.idkey) {
          this.preview = false
        }
      }
    })
  },
  beforeDestroy() {
    this.unsubscribe()
  },
}
</script>

<style scoped>
.stack {
  transition: height 0.4s ease-in-out;
}
.stack-heading {
  margin: auto;
  max-width: 400px;
  position: relative;
  cursor: pointer;
}
.stack-heading h3 {
  position: absolute;
  left: 2%;
  bottom: 10%;
  margin: 0;
  padding: 0;
}
/* sides */
.top,
.right,
.front {
  fill: none;
}
.active .top {
  fill: var(--col-primary);
}
svg:hover .right {
  fill: var(--col-secondary);
}
.preview {
  fill: var(--col-secondary);
}
.chosen {
  fill: var(--col-primary);
}
/* lines */
.border {
}

/* effects */
.slide-down-enter-active {
  transition: all 0.3s ease-out;
}
.slide-down-leave-active {
  transition: all 0.3s ease-in;
}
.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
</style>
