<template>
  <div class="item">
    <div class="time">
      <div class="spot endText" v-if="endText">
        <span>{{ endText }}</span>
      </div>
      <div class="spot">
        <span>{{ startText }}</span>
      </div>
    </div>
    <div class="label">
      <p>{{ kind }}</p>
    </div>
    <div class="content" v-html="study"></div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
            result="goo"
          />
          <feBlend in="SourceGraphic" operator="atop" in2="goo" />
        </filter>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    startText: {
      type: String,
      default: "default start",
    },
    endText: {
      type: String,
    },
    kind: {
      type: String,
      default: "default tag",
    },
    study: {
      type: String,
      default: "defaut description of the kind fo study.",
    },
  },
}
</script>

<style scoped>
svg {
  display: none;
}
.item {
  --scaleCol1: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label {
  flex: none;
  width: 100px;
  transform: rotate(50deg);
  text-align: center;
}
.time {
  filter: url(#goo);
  width: var(--scaleCol1);
}
.spot {
  display: block;
  grid-area: time;
  width: var(--scaleCol1);
  height: var(--scaleCol1);
  font-size: calc(var(--scaleCol1) * 0.22);
  font-weight: bold;
  text-align: center;
  border-radius: calc(var(--scaleCol1) / 2);
  background-color: var(--col-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.endText {
  margin-bottom: calc(var(--scaleCol1) * 0.15 * -1);
}
p {
  /* bad css, undo parent scoped css */
  margin: 0;
  padding: 0;
}
</style>
