<template>
  <div class="wrapper">
    <div class="timeline">
      <template v-for="evt in line">
        <TimelineItem class="time-item" v-bind="evt" />
      </template>
    </div>
  </div>
</template>

<script>
import TimelineItem from "./Timeline-item.vue"
export default {
  components: {
    TimelineItem,
  },
  data() {
    return {
      line: [
        {
          startText: "2020/3",
          endText: "Present",
          kind: "Training",
          study: "Pursuing personal projects and self improvement.",
        },
        {
          startText: "2015",
          endText: "2020/3",
          kind: "Work",
          study: "Birkdale High School IT Technician",
        },
        {
          startText: "2015/10",
          kind: "Training",
          study:
            "<strong>Server Virtualization with Windows Server (2012r2) Hyper-V and System Center</strong>. 5 day course with QA Manchester.",
        },
        {
          startText: "2013",
          endText: "2015",
          kind: "Work",
          study: "Up Holland High School IT Technician",
        },
        {
          startText: "2009",
          endText: "2013",
          kind: "Work",
          study: "St Bedes High School IT Technician",
        },
        {
          startText: "2009",
          endText: "2011",
          kind: "Education",
          study:
            "<strong>Runshaw College BTEC National Diploma</strong>. The IT Practitioners National Diploma was 18 modules of various subject areas within computing, from media, business to programming.",
        },
        {
          startText: "2008",
          endText: "2010",
          kind: "Education",
          study:
            "<strong>Runshaw College A Level Computing</strong>. Completed my A-level during the BTEC course, I was lucky to get a timetable that a BTEC at the same time.",
        },
      ],
    }
  },
}
</script>

<style scoped>
.timeline {
  margin: 0 2vw;
}
.time-item {
  margin-bottom: 10px;
}
</style>
