<template>
  <div id="global-layout">
    <header>
      <Logo class="logo" />
      <nav v-if="$page.path !== '/'" class="menu">
        <a href="/">&lt;&lt; Back To Blog</a>
      </nav>
    </header>
    <component :is="layout" />
  </div>
</template>

<script>
import Vue from "vue"
import { setGlobalInfo } from "@app/util"
import Logo from "../components/Logo"
export default {
  name: "GlobalLayout",
  components: {
    Logo,
  },
  computed: {
    layout() {
      const layout = this.getLayout()
      setGlobalInfo("layout", layout)
      return Vue.component(layout)
    },
  },
  methods: {
    getLayout() {
      if (this.$page.path) {
        const layout = this.$page.frontmatter.layout
        if (
          layout &&
          (this.$vuepress.getLayoutAsyncComponent(layout) ||
            this.$vuepress.getVueComponent(layout))
        ) {
          return layout
        }
        return "Layout"
      }
      return "NotFound"
    },
  },
}
</script>

<style lang="stylus">
@require '../vendor/code.styl';
</style>

<style>
/* latin */
@font-face {
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("B612 Regular"), local("B612-Regular"),
    url(https://fonts.gstatic.com/s/b612/v4/3JnySDDxiSz36j6yGQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("B612 Bold"), local("B612-Bold"),
    url(https://fonts.gstatic.com/s/b612/v4/3Jn9SDDxiSz34oWXDDeBTA.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --col-base: #fffffe;
  --col-body: #232323;
  --col-primary: #f45d48;
  --col-secondary: #078080;
  --layout-gap: 1.8rem;
  --layout-indent: calc(var(--layout-gap) * 1.5);
  --fontUnitSize: calc(12px + 0.8vw);
  --font-family-header: "B612", sans-serif;
  --font-family-body: "Segoe UI", Optima, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: var(--col-body);
  font-family: var(--font-family-body);
  font-size: var(--fontUnitSize);
  line-height: calc(12px + 1.5vw);
  background-color: #f8f5f2;
  background-image: radial-gradient(#078080 2px, #f8f5f2 1px);
  background-size: 24px 24px;
  background-position: 0 0, 30px 30px;
  min-width: 700px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--col-body);
  font-family: var(--font-family-header);
}
header nav,
h1 {
  font-size: calc(2rem + 1vw);
  line-height: calc(2rem + 2.5vw);
}
a {
  color: #f45d48;
}
img {
  width: 100%;
}
video {
  width: 100%;
}

p,
ol,
ul {
  padding-left: calc(var(--layout-gap) * 1.5);
  padding-right: calc(var(--layout-gap) * 1.5);
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 var(--layout-gap);
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  align-self: flex-end;
}

.title {
  display: inline-block;
  margin: var(--layout-gap) 0;
  background-color: var(--col-base);
}

@supports (grid-area: auto) {
  .title-position {
    grid-area: title;
  }
  .logo {
    grid-area: logo;
  }
  .site {
    padding: 0 var(--layout-gap);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: var(--layout-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "page page page nav nav nav";
  }
  .page {
    grid-area: page;
  }

  @media only screen and (min-width: 1337px) {
    .site {
      grid-template-areas: "page page page page nav nav";
    }
  }
}
</style>
