<template>
  <div class="site">
    <div class="page">
      <h1 class="title">{{ $page.title }}</h1>
      <Content class="main" />
    </div>
    <List :tags="this.$page.frontmatter.stack" />
  </div>
</template>

<script>
import List from "../components/List.vue"
export default {
  name: "Layout",
  components: {
    List,
  },
  data() {
    return {}
  },
}
</script>

<style>
.main {
  background-color: var(--col-base);
  padding-top: var(--layout-gap);
  padding-bottom: var(--layout-gap);
}
figure {
  margin: 0;
}

@supports (grid-area: auto) {
  figure {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: 0;
  }
  .site {
    padding: 0 var(--layout-gap);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: var(--layout-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "page page page page page nav";
  }

  @media only screen and (min-width: 880px) {
    figure {
      grid-template-columns: 1fr 1fr;
    }
  }
}
</style>
