<template>
  <div class="site">
    <div class="page">
      <h1 class="title">{{ this.$page.title }}</h1>
      <Content class="main" />
    </div>
    <Navigation />
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue"

export default {
  name: "Split",
  components: {
    Navigation,
  },
  data() {
    return {}
  },
}
</script>

<style scoped>
.main {
  background-color: var(--col-base);
  padding-top: var(--layout-gap);
  padding-bottom: var(--layout-gap);
}

@supports (grid-area: auto) {
  nav {
    grid-area: nav;
  }
  .site {
    padding: 0 var(--layout-gap);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: var(--layout-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "page page page nav nav nav";
  }
  .page {
    grid-area: page;
  }

  @media only screen and (min-width: 1337px) {
    .site {
      grid-template-areas: "page page page page nav nav";
    }
  }
}
</style>
